.single-friend {
  display: flex;
  box-shadow: 10px 5px 5px #888888;
  width: 260px;
  margin: 5px;
  padding: 5px;
}
.short-Name {
  font-weight: 800;
  margin-top: 0;
  color: rgb(216, 11, 73);
}
.country-name {
  font-weight: 700;
  margin-top: -10px;
  color: green;
}
.single-details {
  margin-left: 8px;
}
